<div class="cafeheader row">
  <div class="col-4 colcafe2">
    <h2 class="titulocafe">Nuestro Café</h2>
    <p class="titulocafe">
      Desde 1971, siempre ha sido y siempre será de la mejor calidad. Nos
      apasiona la labor de abastecernos de los mejores granos de café arábica
      siguiendo estrictos principios éticos y tostarlos con el máximo cuidado.
      Nuestra pasión por el café solo es comparable al placer de compartirlo.
    </p>
    <button (click)="navegar('/informacion')" class="btn btn-outline-light btcafe2">MÁS INFORMACIÓN</button>
  </div>
  <div class="col-8"></div>
</div>
<div class="variedad row">
  <div class="col-8"></div>
  <div class="col-4 colcafe3">
    <h2 class="titulovariedad">NUESTRA VARIEDAD</h2>
    <p class="pvariedad">
      El mejor café se puede preparar de muchas maneras: desde el clásico
      espresso, un solo o el delicioso capuccino hasta nuestros Special Latte
      con diferentes sabores. Tenemos tanto donde elegir que servimos más de 5
      millones de cafés al año en todo el mundo, y todos con la mejor calidad
      para que en cada taza puedas encontrar el sabor que te gusta.
    </p>
  </div>
</div>
<div class="compromiso row">
  <div class="col-4 colcafe2">
    <h2 class="titulovariedad">NUESTRO COMPROMISO</h2>
    <p class="pvariedad">
      Para nosotros un buen producto es aquel que también contribuye a construir
      un mundo mejor. El certificado Fairtrade es la manera de hacer realidad
      esta filosofía, porque significa que, a través del cultivo de nuestro
      café, ayudamos a las comunidades productoras, apostando así por la
      responsabilidad social de mantener unas condiciones de trabajo dignas y
      sostenibles.
    </p>
  </div>
  <div class="col-8"></div>
</div>
