<div class="headerinformacion">
  <div class="containerheader">
    <h1 class="tituloheader">Un Café Excepcional</h1>
  </div>
</div>
<div class="divinformacion">
  <img
    class="imageninformacion"
    src="https://www.starbucks.es/media/1_tcm31-10897_w1024_n.jpg"
  />
  <h2 class="h2informacion">
    Vamos allá donde se encuentran los mejores granos: arriba.
  </h2>
  <p class="pinformacion">
    Los mejores granos crecen a más altitud. Las noches frías y los días cálidos
    hacen que los granos sean más densos. Y los granos más densos tienen sabores
    más profundos y complejos. Saboréalos en cada taza de café Starbucks.
  </p>
</div>
<div class="divinformacion">
  <img
    class="imageninformacion"
    src="https://www.starbucks.es/media/2_tcm31-10898_w1024_n.jpg"
  />
  <h2 class="h2informacion">Nos gusta lo bueno de todo el café</h2>
  <p class="pinformacion">
    Por lo tanto, si podemos ayudar a un agricultor a obtener mejores granos, lo
    haremos. Cualquier agricultor, en cualquier sitio. Para ello, contamos con
    centros de apoyo a los agricultores en cuatro continentes donde nuestros
    ingenieros agrónomos realizan pruebas del suelo, examinan muestras y ofrecen
    consejo gratuito a todos los caficultores que les consultan.
  </p>
</div>
<div class="divinformacion">
  <img
    class="imageninformacion"
    src="https://www.starbucks.es/media/3_tcm31-10899_w1024_n.jpg"
  />
  <h2 class="h2informacion">Cultivamos relaciones profundas</h2>
  <p class="pinformacion">
    El futuro del café está unido al futuro de los caficultores. Por eso
    cultivamos estas relaciones del mismo modo en que ellos cultivan sus granos.
    Trabajamos para que los agricultores obtengan un precio justo y para
    garantizar que todos en la comunidad se beneficien de la industria del café.
    Esto hace que los agricultores puedan tener mejores medios de subsistencia y
    que todos podamos disfrutar de un mejor café.
  </p>
</div>
<div class="divinformacion">
  <img
    class="imageninformacion"
    src="https://www.starbucks.es/media/4_tcm31-10900_w1024_n.jpg"
  />
  <h2 class="h2informacion">Somos muy exigentes a la hora de cosechar</h2>
  <p class="pinformacion">
    Solo recogemos las bayas de café cuando se encuentran en su punto óptimo.
    Rojas, maduras y perfectas. Después las clasificamos minuciosamente por
    tamaño, color y densidad. ¿Nuestra tolerancia a los defectos? Absolutamente
    ninguna. Algunos podrían llamar a esto obsesión. Nosotros lo llamamos un
    gran café.
  </p>
</div>
<div class="divinformacion mb-5">
  <img
    class="imageninformacion"
    src="https://www.starbucks.es/media/5_tcm31-10901_w1024_n.jpg"
  />
  <h2 class="h2informacion">Probamos, una y otra y otra vez
  </h2>
  <p class="pinformacion">
    Probamos más de 1000 tazas de café al día para verificar el excelente sabor que todos (incluido tú) esperamos. Un lote de café se prueba al menos tres veces antes de’ ser aprobado, es decir, que cada sorbo de café Starbucks® que tomes ’ hará’ tus delicias.
  </p>
</div>
